<!-- 
<form (ngSubmit)="onSubmit()" >
    <h1 align="center">Taskaty</h1>
    <label for="name">Username:</label>
  <input type="text" [(ngModel)]="name" id="name" name="name" placeholder="Enter your name" /><br>
    <label for="password">Password:</label>
  <input type="password" id="password" name="password" [(ngModel)]="password" placeholder="Enter your password" />
  <br>
  <button type="submit" >Submit</button> 
</form> -->
<div class="login-container">
  <div class="login-card">
    <h2>Login to Your Account</h2>

    <form [formGroup]="loginForm" >
       <!-- Email -->
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          formControlName="name"
          placeholder="you@example.com"
          required
        />
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          formControlName="password"
          type="password"
          id="password"
          name="password"
          placeholder="••••••••"
          required
        />
      </div>

      <!-- Submit -->
      <button type="submit" (click)="onSubmit()" class="btn">Login</button>
    </form>

    <!-- Footer -->
    <p class="footer-text">
      Don’t have an account?
      <a href="/register">Sign up</a>
    </p>
  </div>
</div>
